<!--Footer Area Start-->
<footer>
  <div class="footer-container">
    <!--Footer Bottom Area Start-->
    <div class="footer-bottom-area black-bg pt-50 pb-50">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <!--Footer Menu End-->
            <!--Footer Copyright Start-->
            <div class="footer-copyright">
              <p>Copyright &copy; 2019.<span class="CopyrightId"></span></p>
            </div>
            <!--Footer Copyright End-->
          </div>
        </div>
      </div>
    </div>
    <!--Footer Bottom Area End-->
  </div>
</footer>
<!--Footer Area End-->
