<!--Header Area Start-->
<header>
    <div class="header-container">
        <div class="header-area header-sticky pt-10 pb-10">
            <div class="container-fluid pl-50 pr-50">
                <div class="row">
                    <!--Header Logo Start-->
                    <div class="col-lg-3 col-md-3">
                        <div class="logo-area">
                            <a href="/">
                                <img src="<%=I.logo%>" width="136" height="59">
                            </a>
                        </div>
                    </div>
                    <!--Header Logo End-->
                    <!--Header Menu And Mini Cart Start-->
                    <div class="col-lg-9 col-md-9 text-lg-right">
                        <!--Main Menu Area Start-->
                        <div class="header-menu">
                            <nav>
                                <ul class="main-menu">
                                    <li><a href="/">主页</a></li>
                                    <li><a href="/species">分类树</a></li>
                                    <li><a href="/overview">检索</a></li>
                                    <li><a href="/news">新闻</a></li>
                                    <li><a href="/about">关于</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!--Main Menu Area End-->
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <!--Mobile Menu Area Start-->
                            <div class="mobile-menu d-lg-none"></div>
                            <!--Mobile Menu Area End-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--Header Area End-->