<!doctype html>
<html class="no-js" lang="en">

<head>
	<% include meta.ejs %>
</head>

<body>
	<div class="wrapper">
		<% include header.ejs %>
		<div class="slider-area pl-150 pr-150" style="padding: 0 150px" id="adboxId">
			<div id="owl-demo" class="hero-slider owl-carousel">
				<% for(let i=0,data=JSON.parse(websiteInfo[0].adinfo),len=data.length;i<len;i++){ %>
				<div class="single-slider single-slider-style-2" style="height: 400px;background-image: url(<%=data[i].pic%>)">
				</div>
				<% } %>
			</div>
		</div>
		<div class="our-history-area mt-20">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<p class="text-center" style="background-color: #e8e8e8;padding:10px 0"><span>About project</span></p>
						<p>
							<%=JSON.parse(websiteInfo[0].brand).speciesInfo%>
						</p>
					</div>
					<div class="col-md-4">
						<p class="text-center" style="background-color: #e8e8e8;padding:10px 0"><span>Tools Quick Start </span></p>
					</div>
				</div>
			</div>
		</div>

		<% include footer.ejs %>
	</div>
	<% include script.ejs %>
	<script>
	</script>
</body>

</html>